---
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Banner from "../../components/Banner/Banner.astro";

const vereinItems = await getCollection("verein");

const { title, titleimage, callout1, callout2, footer } =
  vereinItems[0].data.verein;
const callouts = [callout1, callout2];
---

<Layout
  title={title ?? ""}
  instagram="https://www.instagram.com/kila_kaenguruh/"
>
  <HeroImage slot="hero" text={title ?? ""}>
    <img src={titleimage?.node.sourceUrl} alt={titleimage?.node.altText} />
  </HeroImage>

  {
    callouts.map((callout) => {
      if (!callout.show) {
        return null;
      }

      return (
        <>
          <h2>{callout.title}</h2>
          <Banner title={callout.heading ?? ""}>{callout.content}</Banner>
        </>
      );
    })
  }

  <p set:html={footer} />
</Layout>
