---
import Divider from "../components/Divider/Divider.astro";
import HeroSlider from "../components/HeroSlider/HeroSlider.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import InfoCard from "../components/InfoCard.astro";
import Callout from "../components/Callout.astro";

const homeItems = await getCollection("home");
const { callout1, callout2, info1, info2, info3, info4 } =
  homeItems[0].data.home;
---

<Layout
  title="Kinderladen Känguruh"
  instagram="https://www.instagram.com/kila_kaenguruh/"
>
  <HeroSlider slot="hero" />
  <div class="wave">
    <Divider type="curly" />
  </div>

  <Callout callout={callout1} />
  <Callout callout={callout2} />

  <InfoCard info={info1} />
  <InfoCard info={info2} />
  <InfoCard info={info3} />
  <InfoCard info={info4} />

  <Divider type="wave" />
</Layout>

<style>
  :global(.wave) {
    margin-bottom: 5rem;
  }
</style>
