---
import HeroImage from "../../components/HeroImage/HeroImage.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Banner from "../../components/Banner/Banner.astro";

const kindertreffItems = await getCollection("kindertreff");

const { title, titleimage, callout1, callout2, footer } =
  kindertreffItems[0].data.kindertreff;
const callouts = [callout1, callout2];
---

<Layout
  title="Kindertreff"
  instagram="https://www.instagram.com/kindertreffkanguruh/"
>
  <HeroImage slot="hero" text={title ?? ""} />

  <img src={titleimage?.node.sourceUrl} alt={titleimage?.node.altText} />

  {
    callouts.map((callout) => {
      if (!callout.show) {
        return null;
      }

      return (
        <>
          <h2>{callout.title}</h2>
          <Banner title={callout.heading ?? ""}>{callout.content}</Banner>
        </>
      );
    })
  }

  <p set:html={footer} />
</Layout>

<style>
  img,
  iframe {
    width: 100%;
    border-radius: 16px;
  }

  .sos {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .sos img {
    width: 200px;
  }

  hr {
    margin: 2rem 0;
    border: none;
    border-top: 2px solid var(--kila-border, #eee);
  }
</style>
